<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>LLMP</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>LLMP</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>qq</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>QQ0614FEC2</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>qzone</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>tencent102039234</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>llmp</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>llmp</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FLTEnableImpeller</key>
		<true/>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>mqq</string>
			<string>mqqapi</string>
			<string>timapi</string>
			<string>mqqopensdkminiapp</string>
			<string>mqqopensdknopasteboard</string>
			<string>mqqopensdkapiV2</string>
			<string>mqqopensdkapiV3</string>
			<string>mqqopensdkapiV4</string>
			<string>mqzoneopensdk</string>
			<string>mqzoneopensdkapi</string>
			<string>mqzoneopensdkapi19</string>
			<string>mqzoneopensdkapiV2</string>
			<string>mqqapi</string>
			<string>mqqwpa</string>
			<string>mqzone</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
		<key>MOBAppKey</key>
		<string>375f94ab8316c</string>
		<key>MOBAppSecret</key>
		<string>9cac7a0532d211eb04fcf6b25b197859</string>
		<key>NSCameraUsageDescription</key>
		<string>需要获取摄像头权限扫描二维码</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>需要读取相册获取图片</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
		</array>
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiresFullScreen</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
	</dict>
</plist>
